<div>
    <div class="stats-container">
        <div class="stat-card">
            <div class="donut-container red">
                <canvas id="cpu"></canvas>
            </div>
            <p>CPU {{data.cpu}}%</p>
        </div>
        <div class="stat-card">
            <div class="donut-container blue">
                <canvas id="memory"></canvas>
            </div>
            <p>MEM {{data.mem}}%</p>
        </div>
        <div class="stat-card">
            <div class="donut-container yellow">
                <canvas id="load"></canvas>
            </div>
            <p>LOAD {{data.load}}%</p>
        </div>
    </div>
</div>